html {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*  ALL IMAGES */

.img {
    object-fit:contain;
    overflow: clip;
    float: left;
    height: 10em;
    width: auto;
    margin: 1em;
    padding: 0;
    z-index: 1;
}

/* HEADER */

.header > h1 {
    padding:5em;
    margin: 0;
    border:0;
}

.header {
    background: linear-gradient(to bottom, #9cb8ff84, #9cb8ff);
}

/* Nav Menu */

.navmenu {
    border-bottom: 3pt solid #9cb8ff;
    box-shadow: 0 1pt 8pt #00000033;
}

.navmenu ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #757575;
    align-items: center;
}

.navmenu li {
    float: left;
    text-align: center;
    align-items: center;
}

.navmenu li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.navmenu li:hover {
    background-color: grey;
    
}

.navmenu a:hover {
    color: #9cb8ff!important;
}

/* BODY CONTENT */

.content {
    padding: 4em 3em;
    padding-top: 1em;
    border: 0;
    margin-inline: 2em;
    padding-right: 0;
    line-height: 2;
}

.content > div:nth-child(2n) .img {
    float: right;
    margin-right: 4em;
}

.content div { /* this stops different sections from overlapping */
    object-fit: contain;
    overflow: hidden;
    width: auto;
    height: auto;
    padding-top: 0;
}

.content h2 {
    margin-top: 0.3em;
    padding: 0;
}

/* SIDEBAR STRUCTURE */

.sidebar {
    padding: 1.5em;
    position: relative;
}

.sidemenu {
    background-color:#eee;
    align-items: center;
    text-align: center;
    padding: 1em;
    border: 1em;
    margin: 1em;
    position: relative;
    align-self: flex-start;
    top: 0;
    height: auto;
    display: block;
    width: 16.5em;
    float: right;
    z-index: 1;
}

.sidemenu ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

.sidemenu li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #9cb8ff;
    margin: 0.5em;
}

.sidemenu li a:hover {
    background-color: #cbeefa;
}

/* EXPERIENCE SIDEBAR */

#skills ul {
    margin-inline: 1em;
}

#skills li {
    list-style-type: square;
    text-align: left;
    align-items: left;
    padding: 0.25em;
}

/* FLEX BOX */

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between
}

body {
    padding: 0;
    border: 0;
    margin: 0;
}

#subheader {
    margin-inline: 5em;
}

.shadow-box {
    box-shadow: 0 1pt 8pt #00000033;
    border-radius: .4em;
}