html {
    font-family:cursive;
    background-color: olive;
}

/* HEADER */

.header > h1 { /* this keeps the header a specific size */
    padding:5em;
    margin: 0;
    border:0;
}

.header.flex {
    background-color: pink;
    background-image: url("images/stretched-header.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    background-size: 100% 100%;
}

/* Nav Menu */

.navmenu {
    text-align: center;
    padding: 0;
}

.navmenu ul {
    padding: 0;
}

.navmenu li {
    display: inline;
    padding: 1em;
    background-color: pink;
    border: orange;
    border-style: solid;
    margin-right: 4em;
    
    border-width: 0.2em;
    box-shadow: 0 1pt 15pt yellow;
}

.navmenu li:hover {
    background-color: grey;
    
}

.navmenu a:hover {
    color: #9cb8ff!important;
}

/* IMAGES */

.img {
    object-fit:contain;
    overflow: clip;
    float: left;
    padding: 0.5em;
    height: 10em;
    width: 10em;
    z-index: 1;
}

/* BODY CONTENT */

.content {
    padding: 4em 3em;
    padding-top: 1em;
    border: 0;
    margin-inline: 2em;
    padding-right: 0;
    line-height: 2;
}

.content > div:nth-child(2n) .img {
    float: right;
    padding-right: 4em;
}

.content div { /* this stops different sections from overlapping */
    object-fit: contain;
    overflow: hidden;
    width: auto;
    height: auto;
}

.content h2 {
    margin-top: 0.3em;
    padding: 0;
}

.sidebar {
    padding: 1.5em;
    position: relative;
}

.sidemenu {
    transform: skew(5deg);
    background-color:pink;
    align-items: center;
    text-align: center;
    padding: 1em;
    border: 1em;
    margin: 1em;
    position: relative;
    align-self: flex-start;
    top: 0;
    height: auto;
    display: block;
    width: 16.5em;
    float: right;
    z-index: 1;

    box-shadow: 0 1pt 15pt yellow;
    border-radius: .4em;
}

/* EXPERIENCE SIDEBAR */

#skills ul {
    margin-inline: 1em;
}

#skills li {
    list-style-type: square;
    text-align: left;
    align-items: left;
    padding: 0.25em;
}

.sidemenu ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

.sidemenu li a {
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    background-color: orange;
    margin: 0.5em;
}

.sidemenu li a:hover {
    background-color: #cbeefa;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between
}

body {
    padding: 0;
    border: 0;
    margin: 0;
}

.content p {
    background-image: linear-gradient(to left, violet, lightgreen, yellow, orange, pink);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#subheader {
    margin-inline: 5em;
}